.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5rem 0 2rem 0;
    transition: margin-left $transitionDuration;
    background: #F9F9F9;

    @media (max-width: 768px) {
        padding-left: 0 !important;
    }
}

.layout-main {
    flex: 1 1 auto;
    background-color: #F9F9F9;
}